!!! 5
%html
%head
  %title snappy
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "snappy", root_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "New snap", new_pin_path
          %li= link_to "Account", edit_user_registration_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete

      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Sign in", new_user_session_path
  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    = yield
  



